body {
    margin: 0;
    font-family: sans-serif;
    background-color: white;
    
  }
  
  .main {
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "i i"
      "j j";
  }
  
  .a {
    grid-area: a;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
  }
  
  .b { grid-area: b; }
  
  .c { grid-area: c;
       display: flex;
    flex-direction: column;
     justify-content: center;
    margin: 2rem; }
  

  
  .i { grid-area: i; }
  
  .j { grid-area: j; }
  
  .a1 {
    padding: 1rem;
    margin: 0;
    background-color: rgb(177, 4, 14);
    color: white;
    text-align: center;
  }
  
  .a1 h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  .a1 p {
    font-size: 1.1rem;
    margin: 0;
  }
  
  .a2 {
    background-color: white;
    padding: 0.5rem;
    text-align: center;
  }
  
  .navbar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-weight: bold;
  }
  
  .navbar li {
    margin: 0.5rem 1rem;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .b {
    background-image: url('download.jpeg');
    height: 32vw;
    background-position: center;
    position: relative;
  }
  
  .b1 {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .b1 h1 {
    font-size: 3rem;
    margin: 0rem;
  }
  
  .b1 p {
    font-size: 1.5rem;
  }

  .c1,.c2{
       text-align: center;
       font-size: 1.3rem;
       color: rgb(177, 4, 14);
       padding: 2rem;
       
  }
  .c2{
    display: flex;
    flex-direction: column;
  }

  .c1 p,.c2 p{
    font-size: 1.1rem;
    color: black
}
.c21 {
    background-color: rgb(229, 231, 235);
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  
.c21 ul{
    color: black;
    list-style: none;
}

  .c211 {
   
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
    width: 100%;
    height: 200px; 
  }
  #img1{
    background-image: url('img/img/hci.jpg'); 
  }
  
  #img2{
   background-image: url(img/img/knowlegeEng.jpg);
  }
  #img3{
    background-image: url('img/img/NetworkCom.jpg');
  }
  


  .c212 p {
    font-size: 1.1rem;
    color: black;
    margin: 0;
  }
  
  .c212 a {
    color: rgb(177, 4, 14);
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5rem;
  }
  


  .i{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3rem;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
   }
   
   .i h3{
     color: rgb(177, 4, 14);
     font-size: 1.3rem;
   }
   
   .i11{
     margin-bottom: 2rem;
   }
   
   .i11 a{
       padding: .2em .6em .3em;
       font-size: 75%;
       font-weight: 700;
       text-align: center;
       border-radius: .25em;
       color: white;
       background-color: rgb(177, 4, 14);
       text-decoration: none;
       
   }
   
   .i2 a:hover{
     text-decoration: underline;
   }
   
   
   .i2 a{
    color: black;
     text-decoration: none;
   }
   
   strong{
     color: rgb(177, 4, 14);
   }
   
    .j {
     background-color: rgb(177, 4, 14);
    color: white;
    padding: 2rem;
    text-align: center;
   }
   

   .repla{
    display: none;
  }
  
  
  
  @media (max-width: 850px) {
      .a{
        display: none;
      }
      .repla {
        display: block;
        grid-area: rep;
        position: sticky;
        top: 0;
        z-index: 10;
        width: 100%;
      }
  
      .navbar {
        flex-direction: column;
        align-items:start;
        gap: 0.5rem;
        padding-left: 1rem;
      }
      .repla a:hover{
        text-decoration: underline;
      }
    
      .repla span{
        font-size: 1.3rem;
        font-weight: bolder;
      }
      summary{
        text-align: start;
        padding-left: 1rem;
      }
    
      .navbar li {
        margin: 0.3rem 0;
      }
    
      .a2 {
        padding: 0.5rem 0;
      }
      
    .main {
      grid-template-columns: 1fr;
      grid-template-areas:
        "rep" "b" "c" "d" "e" "g" "h" "i" "j";
    }
    

  
    .b1 h1 {
      font-size: 1.7rem;
    }
    .b1 p {
      font-size: 1.3rem;
    }
  
    
    .c21 {
        grid-template-columns: 1fr;
        text-align: center;
      }
    
      #img1 {
        height: 180px;
        
      }
    
      .c212 {
        padding: 0 1rem;
      }
  }
  
  
  @media (max-width: 600px) {
   
    .a1 h1 {
      font-size: 1.5rem;
    }
  
    .a1 p,
    
    .b1 p
    .i a {
      font-size: 0.95rem;
    }
    
    .b1 h1 {
      font-size: 1.4rem;
    }
    .b1 p {
      font-size: 1rem;
    }
    .b{
      height: 45vw;;
    }
  
    .i h3 {
      font-size: 1.1rem;
    }
  
    .i address {
      font-size: 0.85rem;
    }
  }