#imgs { 
  animation: changeColor 30s infinite alternate;
}

@keyframes changeColor {
  6%   { background-image: url(img/img/dept1.jpg); }
  12%  { background-image: url(img/img/dept2.jpg); }
  18%  { background-image: url(img/img/dept3.jpg); }
  24%  { background-image: url(img/img/dept4.jpg); }
  30%  { background-image: url(img/img/dept5.jpg); }
  36%  { background-image: url(img/img/dept6.jpg); }
  42%  { background-image: url(img/img/dept7.jpg); }
  48%  { background-image: url(img/img/dept8.jpg); }
  54%  { background-image: url(img/img/dept9.jpg); }
  60%  { background-image: url(img/img/dept10.jpg); }
  66%  { background-image: url(img/img/dept11.jpg); }
  72%  { background-image: url(img/img/dept12.jpg); }
  78%  { background-image: url(img/img/dept13.jpg); }
  84%  { background-image: url(img/img/dept14.jpg); }
  90%  { background-image: url(img/img/dept15.jpg); }
  100% { background-image: url(img/img/ranking.jpg); }
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
  
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "a a"
    "b b"
    "c d"
    "e d"
    "g g"
    "h h"
    "i i"
    "j j";
}



.b { grid-area: b; }

.c { grid-area: c;
 height: 12rem; }

.d { grid-area: d; 
}

.e { grid-area: e;
  height: 30rem; }

.f { grid-area: f; }

.g { grid-area: g; }

.h { grid-area: h; }

.i { grid-area: i; }

.j { grid-area: j; }

.a {
  grid-area: a;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

.a1 {
  padding: 1rem;
  margin: 0;
  background-color: rgb(177, 4, 14);
  color: white;
  text-align: center;
}

.a1 h1 {
  font-size: 2rem;
  margin: 0;
}

.a1 p {
  font-size: 1.1rem;
  margin: 0;
}

.a2 {
  background-color: white;
  padding: 0.5rem;
  text-align: center;
}

.navbar {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.navbar li {
  margin: 0.5rem 1rem;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  text-decoration: underline;
}

.b {
  background-image: url('download.jpeg');
  height: 32vw;
  background-position: center;
  position: relative;
}

.b1 {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.b1 h1 {
  font-size: 3rem;
  margin: 0rem;
}

.b1 p {
  font-size: 1.5rem;
}
.c{
  background-color: rgb(229, 231, 235);
  padding: 1rem;
  margin: 1rem;
}

.c h1{
  color: rgb(177, 4, 14);
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.c ul {
  font-size: 1.3rem;
  padding-left: 1.5rem;
  
}
.c a{
  color: rgb(177, 4, 14);
  text-decoration: none;
}

.c a:hover{
  text-decoration: underline;
}

.d{
  background-color: rgb(229, 231, 235);
  padding: 1rem;
  margin: 1rem;
}


.d h1 {
  color: rgb(177, 4, 14);
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}


.d ul {
  font-size: 1.3rem;
  padding-left: 1.5rem;
  
}
.d li{
  padding: .5rem;
}


.d a {
  color: rgb(177, 4, 14);
  text-decoration: none;
}


.d a:hover{
  text-decoration: underline;
}

.e {
  margin: 1rem;
  background-color: rgb(177, 4, 14);
}

#imgs {
  background-size: cover;
  background-position: center;
  height: 100%;
}
.g {
  background-color: rgb(229, 231, 235);
  padding: 1rem;
  margin: 1rem;
}

.g h1 {
  color: rgb(177, 4, 14);
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}


.g p {
  font-size: 1.3rem;
  padding:1rem 2rem 2rem 2rem;
}

.h{
  background-color: rgb(229, 231, 235);
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(177, 4, 14);
}

.h h1{
  text-align: center;
  color: white;
}

.h1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
  margin: 2rem;
}

.h12{
  background-color: rgb(229, 231, 235);

  padding: 1rem;
  text-align: center;
}
.h12 h2{
  color: rgb(177, 4, 14);
  font-size: 1.3rem;
  
}

.h12 p{
  font-size: 1rem;
}

.h121{
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.i{
 background-color: rgba(0, 0, 0, 0.1);
 padding: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.i h3{
  color: rgb(177, 4, 14);
  font-size: 1.3rem;
}

.i11{
  margin-bottom: 2rem;
}

.i11 a{
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    border-radius: .25em;
    color: white;
    background-color: rgb(177, 4, 14);
    text-decoration: none;
    
}

.i2 a:hover{
  text-decoration: underline;
}


.i2 a{
 color: black;
  text-decoration: none;
}

strong{
  color: rgb(177, 4, 14);
}

 .j {
  background-color: rgb(177, 4, 14);
 color: white;
 padding: 2rem;
 text-align: center;
}

#net{
  background-image: url('img/img/networks.jpg');
}
#cloud{
  background-image: url('img/img/cloud.jpg');
}
#data{
  background-image: url('img/img/database.jpg');
}

.repla{
  display: none;
}



@media (max-width: 850px) {
    .a{
      display: none;
    }
    .repla {
      display: block;
      grid-area: rep;
      position: sticky;
      top: 0;
      z-index: 10;
      width: 100%;
    }

    .navbar {
      flex-direction: column;
      align-items:start;
      gap: 0.5rem;
      padding-left: 1rem;
    }
    .repla a:hover{
      text-decoration: underline;
    }
  
    .repla span{
      font-size: 1.3rem;
      font-weight: bolder;
    }
    summary{
      text-align: start;
      padding-left: 1rem;
    }
  
    .navbar li {
      margin: 0.3rem 0;
    }
  
    .a2 {
      padding: 0.5rem 0;
    }
    
  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "rep" "b" "c" "d" "e" "g" "h" "i" "j";
  }
  
  .h1 {
    grid-template-columns: 1fr 1fr;
  }
  
  .h1 > div:nth-child(3) {
    grid-column: span 2;
  }

  .b1 h1 {
    font-size: 1.7rem;
  }
  .b1 p {
    font-size: 1.3rem;
  }

  
  
}


@media (max-width: 600px) {
  
  .h1 {
    grid-template-columns: 1fr;
  }
  
  .h1 > div:nth-child(3) {
    grid-column: span 1;
  }
  
  .a1 h1 {
    font-size: 1.5rem;
  }

  .a1 p,
  .c ul,
  .d ul,
  .g p,
  .b1 p
  .i a {
    font-size: 0.95rem;
  }
  .c h1 ,.d h1,.g h1{
    font-size: 1.3rem;
  }
  .b1 h1 {
    font-size: 1.4rem;
  }
  .b1 p {
    font-size: 1rem;
  }
  .b{
    height: 45vw;;
  }

  .h12 h2 {
    font-size: 1rem;
  }

  .h12 p {
    font-size: 0.9rem;
  }

  .i h3 {
    font-size: 1.1rem;
  }

  .i address {
    font-size: 0.85rem;
  }
}
