body {
    margin: 0;
    font-family: serif;
}

header {
    background-color: #e24a1b;
    padding: 1rem 0;
    text-align: center;
    color: white;
    padding: .5rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    align-items: center;
}


.website {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: white;
}


.level0 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "a a a a"
        "b b b b"
        "c c c d"
        "e f g d"
        "l l l l"
        "l l l l"
        "l l l l"
        "m m m m";
    gap: 1rem; 
    
}


#a {
    grid-area: a;
    align-self: stretch;
    justify-self: stretch;
    background-color: pink;
}

#b {
    grid-area: b;
    align-self: stretch;
    justify-self: stretch;
    background-image: url('s2.jpeg');
    min-height: 350px; 
    color: aliceblue;
}

.hide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5); 
}


#c {
    grid-area: c;
    align-self: stretch;
    justify-self: stretch;
}

.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


#d {
    grid-area: d;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1em;
}
h2{
    color: #e24a1b;
    font-weight: bold;
}
p{
    font-size: large;
    font-weight: bold;
}
.level2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.level3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
}

#e {
    grid-area: e;
}

#f {
    grid-area: f;
}

#g {
    grid-area: g;
}



#m {
    grid-area: m;
    min-height: 100px;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #e24a1b;
    color: white;
    margin-top: 2rem;
}
#l{
    grid-area: l;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile{
    padding: 3rem;
    border-radius: .5rem;

 
   width: 15rem;
   box-shadow: .2rem .3rem .2rem .2rem rgb(66, 64, 64);
}
div[id='card']{
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#card img:first-child:hover{
    width: 120px;
}
#card img:first-child{
    width: 110px;
    border-radius: 50%;
    border: .1rem solid;
    background-color: black;
}
.main p:nth-of-type(2)::first-line{
    font-style: italic;
    font-weight: 200;
}
.pra{
    font-size: 1.3rem;
    word-spacing: .1rem;
    text-align: center;
    letter-spacing: .001rem;
    margin: 0;
    line-height: 1.7rem;
}
h4{
    color: #e24a1b;
}
h1{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.head{
    font-size: 1.6rem;
   
}
.txt{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .level0 {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g"
            "l"
            "m";
    }
    
    .navbar {
        flex-direction: column;
    }
    
    .website {
        margin-left: 0;
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }
    
    
    
    .pra {
        font-size: 1rem;
        line-height: 1.4rem;
    }
    
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    .level3 {
        margin: 1rem;
    }
    
    #b {
        min-height: 250px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .level0 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "a a"
            "b b"
            "c c"
            "d d"
            "e f"
            "g g"
            "l l"
            "m m";
    }
    #g{
        width: 50%;
        margin-left :25%;

    }
    
    .pra {
        font-size: 1.1rem;
    }
}
